<div style="display: 'flex'; flex-direction: column;">
  <mat-form-field class="example-full-width">
    <mat-label>Game</mat-label>
    <input matInput [formControl]="gameFormControl" placeholder="Game_Demo_#">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>ServerUrl</mat-label>
    <input matInput [formControl]="serverUrl" placeholder="www.xxx...">
  </mat-form-field>
  <mat-checkbox [formControl]="localServerFormControl">Local Server</mat-checkbox>
  <button mat-raised-button (click)="connectToGame()">Connect</button>
  <button mat-raised-button (click)="nextPlayer()">Next player</button>
  <button mat-raised-button (click)="refreshView()">Refresh</button>
  <div>Client player: Player_Demo_{{playeridx}}</div>
  <div>Player index: {{server.playerIndex}}</div>
  <div>Current index: {{state?.currentPlayerIndex}}</div>
  <app-board *ngIf="state" [board]="state.board.squres" (refresh)="playedMove()" [currentPlayerIndex]="state.currentPlayerIndex" [playerIndex]="playeridx"></app-board>
</div>
