<div style="display: 'flex'; flex-direction: column;">
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Game</mat-label>-->
<!--    <input matInput [formControl]="gameFormControl" placeholder="Game_Demo_#">-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>ServerUrl</mat-label>-->
<!--    <input matInput [formControl]="serverUrl" placeholder="www.xxx...">-->
<!--  </mat-form-field>-->
<!--  <mat-checkbox [formControl]="localServerFormControl">Local Server</mat-checkbox>-->
  <mat-form-field>
    <textarea placeholder="insert log here and scroll down" style="height:500px" type="text" matInput [formControl]="logFile"></textarea>
  </mat-form-field>
  <ng-container>
    <mat-form-field>
      <mat-select [formControl]="selectGame">
        <ng-container *ngFor="let gameId of selectableGames">
          <mat-option [value]="gameId">{{gameId}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </ng-container>
<ng-container *ngIf="!!state">
  <div>Time: {{state?.timelogged}}</div>
  <div>Current Player index: {{state?.currentplayerindex}}</div>
<!--  <div>{{lastchanges[stepNum] | json}}</div>-->
  <button mat-raised-button (click)="nextMove(false)">{{state.version}} Next Step</button>
  <button mat-raised-button (click)="nextMove(true)">{{state.version}} Prev Step</button>
  <app-board *ngIf="state" [board]="state.board.squares" (refresh)="playedMove()" [currentPlayerIndex]="state.currentPlayerIndex" [playerIndex]="playeridx"></app-board>
  <div class="game-details">
    <h2>Last state change:</h2>
    <div>Playerid: {{state.laststatechange.playerid | json}}</div>
    <div>chip: <pre>{{state.laststatechange.chipmoved?.chip | json}}</pre></div>
    <div>Old Position: [x: {{state.laststatechange.chipmoved?.oldposition.x}} , y: {{state.laststatechange.chipmoved?.oldposition.y}}]</div>
    <div>New Position: [x: {{state.laststatechange.chipmoved?.newposition.x}} , y: {{state.laststatechange.chipmoved?.newposition.y}}]</div>
    <div>
      <h3>Last Move:</h3>
      <div class="last-move-list">
        <div *ngIf="(state.laststatechange.chipmoved?.lastmove.length > 1) then moreThanOneMove; else oneMove"></div>
        <h4>Removed chips:</h4>
        <pre>{{state.laststatechange.removedchips | json}}</pre>
      </div>
    </div>
  </div>

</ng-container>
</div>

<ng-template #moreThanOneMove>
  <div *ngFor="let move of state.laststatechange.chipmoved?.lastmove;let i = index">
    <div> position number {{i + 1}}: [x: {{move.x}} , y: {{move.y}}]</div>
  </div>
</ng-template>
<ng-template #oneMove>
    <div> position: [x: {{state.laststatechange.chipmoved?.lastmove[0].x}} , y: {{state.laststatechange.chipmoved?.lastmove[0].y}}]</div>
</ng-template>
